NEXT_PUBLIC_SUPABASE_URL=YOUR_SUPABASE_URL=https://sdzfoliimaqiexsuffjc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkemZvbGlpbWFxaWV4c3VmZmpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjU4Njc3MDQsImV4cCI6MTk4MTQ0MzcwNH0.E1osN08qk_C4gSXDLH9twLpxLzVWCvp0UAcXdC1q0GI